@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:wght@300&display=swap');

h1, h1, a{
    font-family: "Bebas Neue";
    color: #087CC0;
}

h3, li, label {
    font-family: "Open Sans";
    color: #087CC0;
}

header {
    display: grid;
    grid-template-columns: 1fr 5fr;
    background-color: black;
}

.logo {
    width: 150px;
}

nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

a {
    text-decoration: none;
    font-size: 35px;
}

nav a {
    margin: auto;
    text-align: center;
}

footer {
    display: grid;
    background-color: #087CC0;
    grid-template-columns: 1fr 1fr;
    height: 200px;
}

footer h3, footer a {
    margin: auto;
    text-align: center;
    font-size: 35px;
    color: black;
    font-family: "Open Sans";
}

.hero img{
    width: 80%;
}

body {
    background-color: black;
}

.hero {
    position: relative;
    text-align: center;
    height: 1202px;
}

.hero h1 {
    z-index: 3;
    position: absolute;
    top: 400px;
    right: 550px;
    font-size: 60px;
}

.room {
    position: absolute;
    bottom: 400px;
    right: 450px;
    font-size: 30px;
}

.hero h1, .hero h3, .hero label {
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 1px;
}

.room h3 {
    color: #087CC0;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: .25px;
}

.background {
    background-color: white;
    opacity: .5;
}