body {
    background-color: #fca6c9;

}

.pageContent {
    text-align: center;
    max-width: 700px;
    width: 50%;
    margin: 0 auto;
}

.pageContent h1:hover {
    color: black;
}

.pageContent ol {
    text-align: left;
    font-weight: bold;

}

.pageContent ol li {
    line-height: 30px;
}

.white {
    color: white;
}

.quotation {
    margin: 20px 70px;
    font-size: 30px;
}

.quotation::before {
    content: '❝';
    margin-right: 5px;
}

.quotation::after {
    content: '❞';
    margin-left: 5px;
}

.coolFont {
    font-family: Arial, sans-serif;
}

img {
    width: 150px;
    transition: transform 2s;
}

.pageContent:hover img, .pageContent:hover h1{
    transform: rotate(360deg);
    transition: transform 2s;
}

.pageContent img, .pageContent h1{
    transform: rotate(0deg);
    transition: transform 2s;
}

footer {
    margin: 0 20px;
}
footer p {
    font-size: 80%;
    margin: 3px;
}

